  <footer style="position: fixed bottom: 0 width: 100% height: 400px background-color: lightgrey overflow: hidden;">
   <div class="footer-links" style="position: fixed; bottom: 0px">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  </footer>
