// Specific CSS for your home-page
.parallax {
  background-image: asset_url("hero_background.png"); /* style="background-image: url('<%= asset_path('hero_background.png')*/
  height: 110vh;
  background-attachment: fixed;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 75%;
}

/* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}


.home_banner {
  // background-image: url("garden.jpg");
  opacity: 0.9;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover !important;
  position: relative;
  padding: 150px 0;
  display: flex;
}

.home_banner h1 {
  margin: 0px;
  color: #00363d;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.1);
  font-size: 72px;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 3px;
}

.home_banner p {
  font-size: 24px;
  margin: 0px;
  color: #00363d;
  // opacity: .9;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.1);
  letter-spacing: 2px;
  line-height: 1.4;
}

.home-card-container {
  box-shadow: 2px 4px 5px #E8F1F5;
  border-radius: 4px;
}

.wrapper-container:hover{
  opacity: 0.5;
}

.card-links {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.05em;
  border-bottom: 1px solid light-gray;
  background: white;
  a {
    text-decoration: none;
    color: #2BBBAD
  }
}

  .btn-grad {background-image: linear-gradient(to right, #FF6A73 0%, #2BBBAD  51%, #FF6A73  100%)}
    .btn-grad {
      margin: 0px;
      margin-top: 50px;
      padding: 15px 45px;
      text-align: center;
      text-transform: uppercase;
      transition: 0.5s;
      background-size: 200% auto;
      color: white;
      box-shadow: 0 0 20px #eee;
      border-radius: 8px;
      display: block;
    }

    .btn-grad:hover {
      background-position: right center; /* change the direction of the change here */
      color: #fff;
      text-decoration: none;
    }

.garden_name {
  color: #00363D;
  a {
    text-decoration: none;
  }
}

.carousel-indicators {
  padding-bottom: 8px;
}

.carousel-indicators .active{
    background-color: white;
    height: 4px;
}


// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
