// Specific CSS for your home-page
.home_banner {
  background-image: url("garden.jpg");
  opacity: 0.9;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover !important;
  position: relative;
  padding: 150px 0;
  display: flex;
}

.home_banner h1 {
  margin: 0px;
  color: black;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 48px;
  font-weight: bold;
}

.home_banner p {
  font-size: 24px;
  color: black;
  // opacity: .9;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.home-card-container {
  box-shadow: 2px 4px 5px #E8F1F5;
  border-radius: 4px;
}

.wrapper-container:hover{
  opacity: 0.5;
}

.card-links {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8em;
  border-bottom: 2px solid grey;
  background: white;
}

// .home_grid {
//   display: grid;
//   grid-template-columns: 1fr 1fr 1fr 1fr;
//   grid-gap: 24px;
//   padding-top: 32px;
//   padding-bottom: 32px;
// }


// .index-card-text {
//   line-height: 1.5;
//   font-size: 0.9em;
//   padding: 16px;
//   background: light-grey;
// }

// .home_banner_card {
//   background-image: url("garden.jpg");
//   background-size: cover;
//   background-position: center;
//   height: 180px;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   border-radius: 8px;
//   box-shadow: 0 0 3px rgba(0,0,0,0.1);
// }



// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
