<div class="container m-3">
  <%= simple_form_for [ garden, booking ] do |f| %>
    <%= f.input :date, label: "Start Date" %>
    <%= f.submit "Make Booking", class: "btn btn-primary" %>
  <% end %>
</div>


