<h1>Your Bookings</h1>

<div class="container">
  <% @bookings.each do |booking|  %>
    <div class="card-booking m-3">
      <% if booking.garden.image.attached? %>
          <%= cl_image_tag booking.garden.image.key, crop: :fill, class: 'card-img' %>
        <% else %>
          <%= image_tag 'garden.jpg', crop: :fill, class: 'card-img' %>
        <% end %>
      <div class="card-booking-infos">
        <h2> <%= link_to booking.garden.name, booking_path(booking) %> </h2>
        <p> Your Booking Date: <%= booking.date %> <strong>Confirmed?</strong> </p>
      </div>
    </div>
  <% end %>
</div>





