
<h2 class="d-flex justify-content-center m-3">Welcome to your profile page</h2>
<h3 class="d-flex justify-content-center m-3">Your email is <%= @user.email %> </h3>

<h4 class="d-flex justify-content-center m-3">You can edit your email&password by clicking &nbsp; <%=link_to "here ",edit_user_registration_path %></h4>

<h5 class="d-flex justify-content-center m-3">You want to cancel your account? You can't for now. Work in progress ...</h5>
