<h2>Your email is <%= @user.email %> </h2>

<h3>You can edit your email&password by clicking <%= link_to "here ", edit_user_registration_path %></h3>

<h4>You want to cancel your account? You can't for now. Work in progress ...</h4>
