<div class="home_banner" %>
  <div class="container">
    <h1>Rent A Garden </h1>
    <p>Rent out your garden or enjoy someone elses</p>

    <div class="btn-group" style="display:inline-block;" >
      <%= link_to "Book A Garden", gardens_path, class: "btn btn-primary" %>
      <%= link_to "Host Your Garden", new_garden_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>

