<div class="container">
  <h1> Gardens </h1>
  <h3>Find the perfect garden to rent</h3>
</div>

<div>
  <% @gardens.each do |garden| %>
    <%= link_to garden.name, garden_path(garden) %>
  <% end %>
</div>

