.small-garden-card {
  border-radius: 8px;
  box-shadow: 0 0 3px rgba(0,0,0,0.1);
}

.small-garden-card-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px 8px 0px 0px;
}

.small-garden-card-btn {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #2BBBAD;
  transition: background 0.3s ease;
  text-decoration: none;
  text-align: center;
}

.large-garden-card {
  border-radius: 8px 0px 0px 8px;
}

.map-garden-card {
  border-radius: 8px 8px 8px 8px;
  width: 160px;
  height: 200px;
}

.card-booking {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-booking img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-booking h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-booking p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 50%;
}

.card-booking .card-booking-infos {
  padding: 16px;
}

.small-garden-card:hover{
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
